<a href="https://colab.research.google.com/github/LEELALAKSHMIMEKAPOTHU/Employee-payroll-system/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Conditional Statements and Loops in Python:

Conditional Statements: if, if-else, elif

Iterative loops: For, While

In [5]:
x = 24

In [7]:
if x%2==0:
  print("The given number {} is even".format(x))

The given number 24 is even

In [12]:
if(x %3==0):
  print(x)

24

In [13]:
y=33

In [15]:
if(y%2==0):
  print("the given number {}is even".format(y)) #since the condition another_number % 2 == 0 evaluates to False, no message is printe

In [16]:
z=33

In [17]:
if z%2==0:
  print("the given number {} is even".format(z))
else:
  print("the given number {} is odd".format(z))

the given number 33 is odd

In [18]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [19]:
a_candidate = "D'Artagnan"

In [20]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

In [29]:
A=('apple','banana','cherry')

In [30]:
fruits='apple'

In [31]:
fruit='guava'

In [32]:
if fruit in A:
  print("{} is in A".format(fruit))
else:
  print("{} is not in A".format(fruit))

guava is not in A

In [26]:
if fruits in A:
  print("{} is in A".format(fruits))
else:
  print("{} is not in A".format(fruits))

apple is in A

In [33]:
today="Friday"

In [36]:
if today=='sunday':
  print(1)
elif today=="monday":
  print(2)
elif today=="Tuesday":
  print(3)
elif today=="Friday":
  print(0)
else:
  print("none")

0

In [39]:
L=15

In [40]:
if L%2==0:
  print("the given num {} is divisible by 2".format(L))
elif L%3==0:
  print("the given num {} is divisible by 3".format(L))
elif L%5==0:
  print("the given num {} is divisible by 5".format(L))
elif L%15==0:
  print("the given num {} is divisible by 15".format(L))
else:
  print("none will divisible")

the given num 15 is divisible by 3

Note that the message 15 is divisible by 5 ,15 is not printed because the condition a_number % 5 == 0 isn't evaluated, since the previous condition a_number % 3 == 0 evaluates to True. This is the key difference between using a chain of if, elif, elif... statements vs. a chain of if statements, where each condition is evaluated independently.

In [41]:
a_number = 15

In [43]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 15 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5
15 is divisible by 7

if statements, where each condition is evaluated independently.

In [44]:
a_number = 49

In [45]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

In [46]:
a_number = 12

In [47]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

In [49]:
if a_number % 3 == 0 or a_number % 4 == 0:
    print("The number {} is divisible by 3 and 4".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is divisible by 3 and 4


**Non-Boolean Conditions:**

In [51]:
if '':
  print("True")
else:
  print("False")

False

In [53]:
if 'hii':
  print("True")
else:
  print("False")

True

In [54]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [55]:
if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [56]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'

print('The number {} is {}.'.format(a_number, parity))

The number 13 is odd.

Statements: A statement is an instruction that can be executed. Every line of code we have written so far is a statement e.g. assigning a variable, calling a function, conditional statements using if, else, and elif, loops using for and while etc.

Expressions: An expression is some code that evaluates to a value. Examples include values of different data types, arithmetic expressions, conditions, variables, function calls, conditional expressions, etc.

In [57]:
result = if a_number % 2 == 0:
    'even'
else:
    'odd'

SyntaxError: invalid syntax (<ipython-input-57-fe48ca6eb6b1>, line 1)

In [59]:
result = 'even' if a_number % 2 == 0 else 'odd'

In [60]:
a_number = 13
result = 'even' if a_number % 2 == 0 else 'odd'

In [61]:
a=9
if a%2==0:
elif a%3==0:
  print('{}is divisble by 3 but not by 2')

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-61-f6688a418353>, line 3)

In [64]:
a=9

In [67]:
if a%2==0:
  pass
elif a%3==0:
  print('{} is divisble by 3 but not by 2'.format(a))

9 is divisble by 3 but not by 2

**Iteration with while loop**

while condition:

    statement(s)
    
Statements in the code block under while are executed repeatedly as long as the condition evaluates to True. Generally, one of the statements under while makes some change to a variable that causes the condition to evaluate to False after a certain number of iterations.

In [77]:

#The factorial of a number n is the product (multiplication) of all the numbers from 1 to n, i.e., 1*2*3*...*(n-2)*(n-1)*n.

result =1
i=1

while i<=10:
  result= result*i
  i=i+1
print('The factorial of 10 is: {}'.format(result))

The factorial of 10 is: 3628800

In [83]:


result=0
i=100

while i>=50:
  result= result+i
  i=i-1
  print(result)

100
199
297
394
490
585
679
772
864
955
1045
1134
1222
1309
1395
1480
1564
1647
1729
1810
1890
1969
2047
2124
2200
2275
2349
2422
2494
2565
2635
2704
2772
2839
2905
2970
3034
3097
3159
3220
3280
3339
3397
3454
3510
3565
3619
3672
3724
3775
3825

In [79]:
%%time

result = 1
i = 1

while i <= 1000:
    result *= i # same as result = result * i
    i += 1 # same as i = i+1

print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 629 µs, sys: 0 ns, total: 629 µs
Wall time: 663 µs

In [86]:
line="*"
max_length=10

while len(line)<=max_length:
  print(line)
  line+="*"

*
**
***
****
*****
******
*******
********
*********
**********

In [90]:
line="*"
max_length=10

while len(line)<max_length:
  print(line)
  line+="*"

while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [91]:
# prompt: *
#          **
#         ***
#        ****
#       *****
#      ******
#       *****
#        ****
#         ***
#          **
#           *

rows = 6
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * i)
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * i)

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

break and continue statements:

You can use the break statement within the loop's body to immediately stop the execution and break out of the loop (even if the condition provided to while still holds true).

In [92]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        #break
    i += 1

print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 101
result: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [93]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1

print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [94]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i

print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

**Iteration with for loop**:
A for loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and ranges. For loops have the following syntax:


for value in sequence:

    statement(s)

The statements within the loop are executed once for each element in sequence. Here's an example that prints all the element of a list.

In [95]:
k=['monday','tuesday','wednesday','thursday','friday'] # sequence

for day in k: # for value in sequence
  print(day)

monday
tuesday
wednesday
thursday
friday

In [96]:
# Looping over a string
for char in 'monday':
  print(char)

m
o
n
d
a
y

In [97]:
nums=(1,2,3,5,67,8,9)
for value in nums:
  print(value)

1
2
3
5
67
8
9

In [101]:
# Looping over a tuple
for fruit in('apple','banana'):
  #print("i like",fruit)
  print(fruit)

apple
banana

In [109]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    # key: value
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
  #print("Key:", key, ",", "Value:", person[key])
  print(key)

name
sex
age
married

In [106]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [107]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

In [108]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

**Iterating using range and enumerate:**

The range function is used to create a sequence of numbers that can be iterated over using a for loop. It can be used in 3 ways:

range(n) - Creates a sequence of numbers from 0 to n-1

range(a, b) - Creates a sequence of numbers from a to b-1

range(a, b, step) - Creates a sequence of numbers from a to b-1 with increments of step

In [119]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [115]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [117]:
for i in range(3, 15, 4):
    print(i)

3
7
11

In [123]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

Another way to achieve the same result is by using the enumerate function with a_list as an input, which returns a tuple containing the index and the corresponding element.

In [124]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

**break, continue and pass statemen**ts
Similar to while loops, for loops also support the break and continue statements. break is used for breaking out of the loop and continue is used for skipping ahead to the next iteration.

In [125]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [126]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [127]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [128]:
#Like if statements, for loops cannot be empty, so you can use a pass statement if you don't want to execute any statements inside the loop.
for day in weekdays:
    pass

Nested for and while loops

In [131]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day)
        print(fruit)

Monday
apple
Monday
banana
Monday
guava
Tuesday
apple
Tuesday
banana
Tuesday
guava
Wednesday
apple
Wednesday
banana
Wednesday
guava

In [133]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava


What is branching in programming languages?

What is the purpose of the if statement in Python?

What is the syntax of the if statement? Give an example.

What is indentation? Why is it used?

What is an indented block of statements?

How do you perform indentation in Python?

What happens if some code is not indented correctly?

What happens when the condition within the if statement evaluates to True? What happens if the condition evaluates for false?

How do you check if a number is even?
What is the purpose of the else statement in Python?

What is the syntax of the else statement? Give an example.

Write a program that prints different messages based on whether a number is positive or negative.

Can the else statement be used without an if statement?

What is the purpose of the elif statement in Python?

What is the syntax of the elif statement? Give an example.

Write a program that prints different messages for different months of the year.

Write a program that uses if, elif, and else statements together.

Can the elif statement be used without an if statement?

Can the elif statement be used without an else statement?

What is the difference between a chain of if, elif, elif… statements and a chain of if, if, if… statements? Give an example.

Can non-boolean conditions be used with if statements? Give some examples.

What are nested conditional statements?

 How are they useful?

Give an example of nested conditional statements.

Why is it advisable to avoid nested conditional statements?

What is the shorthand if conditional expression?

What is the syntax of the shorthand if conditional expression? Give an example.

What is the difference between the shorthand if expression and the regular if statement?

What is a statement in Python?

What is an expression in Python?

What is the difference between statements and expressions?

Is every statement an expression? Give an example or counterexample.

Is every expression a statement? Give an example or counterexample.

What is the purpose of the pass statement in if blocks?

What is iteration or looping in programming languages? Why is it useful?

What are the two ways for performing iteration in Python?

What is the purpose of the while statement in Python?

What is the syntax of the white statement in Python? Give an example.

Write a program to compute the sum of the numbers 1 to 100 using a while loop.
Repeat the above program for numbers up to 1000, 10000, and 100000. How long does it take each loop to complete?

What is an infinite loop?

What causes a program to enter an infinite loop?

How do you interrupt an infinite loop within Jupyter?

What is the purpose of the break statement in Python?

Give an example of using a break statement within a while loop.

What is the purpose of the continue statement in Python?

Give an example of using the continue statement within a while loop.

What is logging? How is it useful?

What is the purpose of the for statement in Python?

What is the syntax of for loops? Give an example.

How are for loops and while loops different?

How do you loop over a string? Give an example.

How do you loop over a list? Give an example.

How do you loop over a tuple? Give an example.

How do you loop over a dictionary? Give an example.

What is the purpose of the range statement? Give an example.

What is the purpose of the enumerate statement? Give an example.

How are the break, continue, and pass statements used in for loops? Give examples.

Can loops be nested within other loops?
How is nesting useful?

Give an example of a for loop nested within another for loop.

Give an example of a while loop nested within another while loop.

Give an example of a for loop nested within a while loop.

Give an example of a while loop nested within a for loop.